<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @placeholder.position %>
</p>

<%= link_to 'Edit', edit_placeholder_path(@placeholder) %> |
<%= link_to 'Back', placeholders_path %>
