// Place all the styles related to the resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#areas .handle {
  font-size: 12px;
  color: #777;
  cursor: move;
}

.resume_droppable {
  border-style:solid;
  height:200px;
  width:400px;
}

.resume_hover {
  background-color: #ee0000;
}

.resume_dropped {
  background-color: #ee3c00;
}
