// Place all the styles related to the resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resume_droppable {
  border-style:dotted;
  border-width: 1px;
  height:200px;
  width:400px;
}

.resume_hover {
  background-color: #ee0000;
}

.resume_dropped {
  background-color: #ee3c00;
}

.area-panel{
  height:200px;
  width:400px;
}


